body {
  padding-top: 50px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.formTable td {
  vertical-align: middle;
}

#resultsTable {
  width: 600px;
  text-align: center;
}

#resultsTable tr.oddRow {
  background-color: #d8d8d8;
}