@(message: String)

@main("Welcome to RPS-Search") {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <form id="search-form" method="#">
        <table class="formTable">
            <tr>
                <th>Drug Name</th><th>&nbsp;</th><th>Interacting drug name (optional)</th>
            </tr>
            <tr>
                <td colspan="3"><small>You only need to type first part of name. 'alco' will match 'alcohol', 'hy' will match 'hyoscine' etc.</small></td>
            </tr>
            <tr>
                <td>
                    <input name="drugName" type="text" />
                </td>
                <td style="vertical-align: middle">&lt;-&gt;</td>
                <td>
                    <input id="rDrugName" name="rDrugNames[0]" type="text" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <button type="button" id="addDrug" >+</button>
                </td>
            </tr>
        </table>

    </form>
    <button id="getMessageButton">Search</button>

    <br />
    <br />
    <br />
    <h3>Results</h3>
    <table id="resultsTable">
        <tr style="border-bottom: 1px solid gray">
            <th>Interactant Name</th><th>Interaction Id</th><th>Interactant Name</th>
        </tr>
    </table>
    <button type="button" id="clearResultsBtn" >Clear results</button>

}
